body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px 10px;
}

a {
  color: #00B7FF;
}

.map {
	height: 500px;
	width: 800px;
	border: 1px black solid;
	margin: 0px auto;
}

.header {
	height: 50px;
	margin-bottom: 10px;
}

#zoomctrl {
	width: 200px;
}

.zoomLevelLabel {
	margin-right: 30px;
}
